.container {
  display: flex;
  min-height: 100vh;
  padding: 10px 10px 0;
}

.form {
  margin: auto;
}

.captcha {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  padding-bottom: 20px;
  overflow-y: hidden;
}
