.container {
  display: flex;
  min-height: 100vh;
}

.nav {
  margin: auto;
  padding: 10px;
  list-style: none;

  li {
    width: 100%;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.nav_item {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--main-bg-color);
  background-color: var(--primary-color);
  border-radius: 2px;
  transition: background-color 0.3s;

  &:hover {
    color: var(--main-bg-color);
    background-color: var(--primary-hover-color);
  }

  &:focus-visible {
    outline: 1px auto;
    outline: -webkit-focus-ring-color auto 1px;
  }
}
